
<div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar class="app-sidebar-color"></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card shadow-lg p-2 mb-3 bg-white rounded">

              <div class="card-body">

                <button *ngIf="!show1" type="button" class=" float-right btn btn-outline-success" 
                  (click)="getAll()" title="Add">Add</button>

                <button *ngIf="show1" type="button" class=" float-right btn btn-outline-dark" 
                  (click)="getAll1()"title="Back">Back</button> <br> <br>

                <div *ngIf="show1">
                  
                  <form class="forms-sample" [formGroup]="CreateUserForm">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                          <h4 class="card-title">Add Users</h4>
                          <p class="card-description">
                              Basic form elements
                          </p>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputName1">Full Name</label>
                                <input type="text" formControlName="name" class="form-control" 
                                id="exampleInputName1" placeholder="Name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                  <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputName1">Email ID</label>
                                <input type="text" formControlName="email" class="form-control" 
                                id="exampleInputName1" placeholder="Email ID"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email ID is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputPassword4">Date Of Joining</label>
                                <input type="date" formControlName="d_o_j" max="{{maxDate}}" class="form-control" id="exampleInputPassword4"
                                placeholder="Select Date" (change)="onDOJChange($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.d_o_j.errors }">
                                <div *ngIf="submitted && f.d_o_j.errors" class="invalid-feedback">
                                  <div *ngIf="f.d_o_j.errors.required">Joining Date is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputPassword4">Date Of Relieve</label>
                                <input type="date" formControlName="d_o_r" min={{minDate}} max="{{maxDate}}" class="form-control" 
                                id="exampleInputPassword4" placeholder="Select Date">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="exampleInputName1">Upload Image</label>
                                <input type="file" formControlName="profile" class="form-control" 
                                id="exampleInputName1" placeholder="Upload File"
                                (change)="onFileChange($event)" accept=".png, .jpg, .jpeg"
                                [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
                                <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                                  <div *ngIf="f.profile.errors.required">Profile is required</div>
                                </div>
                              </div>
                              <div class="form-group has-danger" *ngIf='imagePreview != null'>
                                  <img [src]="imagePreview" width="200px" height="90px">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="checkbox" formControlName="still_wrk" class="form-check-input"
                                    (change)="onStiilWrkChange($event)" value="">Still Working
                                </label>
                              </div>
                            </div>
                          </div><br>
                          <button type="submit" class="btn btn-success mr-2" *ngIf='!updated' >Submit</button>
                          <button type="submit" class="btn btn-success mr-2" *ngIf='updated' >Update</button>
                          <button class="btn btn-light" (click)="onReset()">Cancel</button>
                          <!-- <button type="submit" class="btn btn-success mr-2" *ngIf='!updated' (click)='onSubmit()'>Submit</button>
                          <button type="submit" class="btn btn-success mr-2" *ngIf='updated' (click)='onUpdate()'>Update</button>
                          <button class="btn btn-light" (click)="onReset()">Cancel</button> -->
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <!-- <button type="submit" class="btn btn-success mr-2" *ngIf='!updated' (click)='onSubmit()'>Submit</button>
                    <button type="submit" class="btn btn-success mr-2" *ngIf='updated' (click)='onUpdate()'>Update</button>
                    <button class="btn btn-light" (click)="onReset()">Cancel</button> -->
                  </form>
                </div>

                <div *ngIf="!show1" class="table-responsive">
                  <h4 class="card-title">Users Records</h4>
                  
                  <div class='row'>
                    <div class='form-group col-md-7 col-lg-7'></div>
                    <div class='form-group col-md-3 col-lg-3'>
                        <label>Search</label>
                        <input type='text' class='form-control' placeholder='Search...' [ngModel]='Search' >
                        <!-- <input type='text' class='form-control' placeholder='Search...' [ngModel]='Search'
                            (ngModelChange)='onSearch($event)'> -->
                    </div>
                    <div class='form-group col-md-2 col-lg-2'>
                      <label>Listing Count</label>
                      <select class='form-control' [ngModel]='Option' >
                        <option [value]='option' *ngFor='let option of OptionList'>{{option}}</option>
                      </select>
                      <!-- <select class='form-control' [ngModel]='Option' (change)='onChangeItemsPerPage($event)'>
                          <option [value]='option' *ngFor='let option of OptionList'>{{option}}</option>
                      </select> -->
                    </div>
                  </div>

                  <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Student Education</td>
                            <td>Rs: 300.00</td>
                            <td>Per Student Corpus</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Student Education</td>
                            <td>Rs: 600.00</td>
                            <td>Training Cost (Per day / Per Student)</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Student Education</td>
                            <td>Rs: 1000.00</td>
                            <td>Training Cost (2 day / Per Student)</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Hostel Fee</td>
                            <td>Rs: 3000.00</td>
                            <td>Hostel Fees (1 Month / Per Student)</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Hostel Fee</td>
                            <td>Rs: 36000.00</td>
                            <td>Hostel Fees (1 Year / Per Student)</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Student Sponsorship</td>
                            <td>Rs: 50000.00</td>
                            <td>Student Sponsorship Per Student</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Student Corpus</td>
                            <td>Rs: 500000.00</td>
                            <td>Corpus Fund for student sponsorship</td>
                            <td>
                                <label class="badge badge-primary mr-2" ngbTooltip="Edit"><i
                                        class="fa fa-edit"></i></label>
                                <label class="badge badge-danger" ngbTooltip="Delete"><i
                                        class="fa fa-trash"></i></label>
                            </td>
                        </tr>
                    </tbody>
                  </table>

                  <!-- <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Experience</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let UserList of GetUsersList;let i=index">
                        <td>{{i+1}}</td>
                        <td class="py-1"><img src="{{Api_Image}}{{UserList.profile}}" url="" alt="image" /></td>
                        <td>{{UserList.name}}</td>
                        <td>{{UserList.email}}</td>
                        <td>{{UserList.experience}}</td>
                        <td>
                          <label class="badge badge-success mr-2" ngbTooltip="View" 
                            (click)='onViewUser(ViewModel, UserList.id)'><i class="fa fa-eye"></i></label>
                          <label class="badge badge-primary mr-2" ngbTooltip="Edit"
                            (click)='onEdit(UserList.id)'><i class="fa fa-edit"></i></label>
                          <label class="badge badge-danger" ngbTooltip="Remove" 
                            (click)='onRemovePop(RemoveModel, UserList)'><i class="fa fa-trash"></i></label>
                        </td>
                      </tr>
                    </tbody>
                  </table> -->

                </div>
                <div *ngIf="!show1">
                  <ngb-pagination [collectionSize]="TotalPage" [pageSize]="ItemsPerPage" [page]="Page" aria-label="Default pagination"
                    (pageChange)='onChangeNextPage($event)' class="pagination-rounded container"></ngb-pagination>
                </div>
              </div>

            </div>
          </div>
        </div>
        
      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <!-- View Content MODEL -->
  <ng-template #ViewModel let-c='close' let-d='dismiss'>
    <div class='modal-header'>
        <h4 class='modal-title'>User Details</h4>
        <button type='button' class='close' aria-label='Close' (click)="c(' Close click')">
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
    <div class='modal-body'>
      <table class="table table-border">
          <tr>
              <th><span>Name</span></th>
              <td>{{ViewDetail.name}}</td>
          </tr>
          <tr>
              <th><span>Email ID</span></th>
              <td>{{ViewDetail.email}}</td>
          </tr>
          <tr>
              <th><span>Date Of Joining</span></th>
              <td>{{ViewDetail.d_o_j | date: 'd-M-yyyy'}}</td>
          </tr>
          <tr>
            <th><span>Relieved Date</span></th>
            <td *ngIf="ViewDetail.d_o_r != null">{{ViewDetail.d_o_r | date: 'd-M-yyyy'}}</td>
            <td *ngIf="ViewDetail.d_o_r == null"> --- </td>
          </tr>
          <tr>
            <th><span>Eexperience</span></th>
            <td>{{ViewDetail.experience}}</td>
          </tr>
          <tr>
            <th><span>Status</span></th>
            <td *ngIf="ViewDetail.still_wrk == 'true'">Still Work</td>
            <td *ngIf="ViewDetail.still_wrk == 'false'">Relieved</td>
          </tr>
      </table>
    </div>
    <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' (click)="c('Closs click')">Close</button>
    </div>
  </ng-template>

  <!-- RemoveModel -->
  <ng-template #RemoveModel let-c='close' let-d='dismiss'>
    <div class='modal-header'>
        <h4 class='modal-title'>Remove</h4>
        <button type='button' class='close' aria-label='Close' (click)="c(' Close click')">
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
    <div class='modal-body'>
        <p>Do you want to <b>Remove</b> the User <b class='text-danger'> {{remove_data.name}} </b> ?</p>
    </div>
    <div class='modal-footer'>
        <button type='button' class='btn btn-success' (click)="onRemove(c(' Close click'),
        remove_data.id)">Yes</button>
        <button type='button' class='btn btn-danger' (click)="c('Closs click')">Cancel</button>
    </div>
</ng-template>

</div>
