
<router-outlet>
  <!-- <div id="back-to-top" (click)="gotoTop()" class="scrollTop">
    <span><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
  </div> -->
</router-outlet>

<!-- <div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar class="app-sidebar-color"></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div> -->
